In [45]:
import pandas as pd

# read the CSV file
df = pd.read_csv('https://raw.githubusercontent.com/DDOS-Attacks-detection-in-IOT-using-ML/DDOS-Detection/main/DDoSdata.csv')
cols=['saddr','daddr','pkts']
df[cols]

              saddr            daddr  pkts
0   192.168.100.150    192.168.100.3    10
1   192.168.100.150    192.168.100.3     8
2   192.168.100.149    192.168.100.3    10
3   192.168.100.149    192.168.100.3    15
4   192.168.100.149    192.168.100.3    11
..              ...              ...   ...
91  192.168.100.150    192.168.100.3    14
92    192.168.100.3  192.168.100.147    21
93    192.168.100.3  192.168.100.148    21
94    192.168.100.3  192.168.100.150    21
95    192.168.100.3  192.168.100.149    21

[96 rows x 3 columns]

In [46]:
filtered_df = df[df['pkts'] >= 6]

# group the filtered dataframe by saddr and apply the difference calculation
result = filtered_df.groupby('saddr')['pkts'].apply(lambda x: x.diff().dropna())

print(result)

saddr
192.168.100.147  6     -2.0
                 8     -1.0
                 18    -1.0
                 19    -1.0
                 25     7.0
                       ...
192.168.100.3    89     2.0
                 92    12.0
                 93     0.0
                 94     0.0
                 95     0.0
Name: pkts, Length: 65, dtype: float64

In [47]:
import pandas as pd

# read the CSV file
# df = pd.read_csv('C:/Users/dpatel112/OneDrive - Cal State LA/Spring 2023/CS5470 Computer Network/Presentation/DDoSdata.csv',low_memory=False)
unique_values = df['saddr'].unique()
# unique_values = df['name'].unique()
print(unique_values)
desired_rows = []
my_dict = {}
for i in unique_values:
    desired_rows = df[df['saddr'] == i]
    # desired_rows = df[df['name'] == i]
    my_dict[i] = desired_rows['pkts'].values.__array__()
# print(my_dict['192.168.100.150'].values)

['192.168.100.150' '192.168.100.149' '192.168.100.147' '192.168.100.148'
 '192.168.100.3']

In [48]:
for key,value in my_dict.items(): # get a list of dictionary items
    for i in range(len(value) -1):  # iterate over the list of items
        diff = value[i+1] - value[i]
        if diff >= 6:
            print('DDOS attack on IP Address: ', key, "with a packet difference of ", diff)

DDOS attack on IP Address:  192.168.100.150 with a packet difference of  11
DDOS attack on IP Address:  192.168.100.150 with a packet difference of  7
DDOS attack on IP Address:  192.168.100.150 with a packet difference of  6
DDOS attack on IP Address:  192.168.100.147 with a packet difference of  7
DDOS attack on IP Address:  192.168.100.147 with a packet difference of  13
DDOS attack on IP Address:  192.168.100.148 with a packet difference of  8
DDOS attack on IP Address:  192.168.100.148 with a packet difference of  9
DDOS attack on IP Address:  192.168.100.148 with a packet difference of  9
DDOS attack on IP Address:  192.168.100.3 with a packet difference of  16